@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-clinical-50 font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-clinical-600 hover:bg-clinical-700 text-white font-semibold py-2 px-4 rounded-lg transition-all shadow-sm;
  }
}
